[Unit]
Requires=lxc-dhcp.service
Requires=sys-devices-virtual-net-lxcbr0.device
After=sys-devices-virtual-net-lxcbr0.device

[Service]
User=vagrant
ExecStart=/bin/ssh -N redshift-dev
Restart=on-abort

[Install]
WantedBy=default.target